* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,h2 {
    /* font-weight: 300; */
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}